<nav id="navbar">
  <div class="container">
    <ul>
      <li>
        <%= link_to "HOME", root_path%>
      </li>
      <li>
        <%= link_to "SURF", "/pages/contact" %>
      </li>
      <li>
        <%= link_to "SHOP", "/pages/shop" %>
      </li>
    </ul>
  </div>
</nav>